.qrcode_panel{
	animation: qr_in 0.2s;
	width: 300px;
	height: 400px;
	z-index: 99999;
	position: fixed;
	background: #fff;
	border-radius: 5px 5px 5px 5px;
}
.qrcode_image{
	margin: auto;
	width: 256px;
	height: 256px;
	margin-top: 40px;
}
.qrcode_close{
	margin: auto;
	height: 50px;
	padding-top: 5px;
}
.qrcode_close_button{
	margin: auto;
	width: 30px;
	height: 30px;
}
.qrcode_close_button:hover {
	opacity: 0.5;
}
.qrcode_close_button:active {
	opacity: 0.7;
}
@-webkit-keyframes qr_in{
from {opacity: 0.7;}
to {opacity: 1;}
}
.qrcode_background{
	width: 100%;
	height: 100%;
	z-index: 90000;
	position: fixed;
	background: #ddd;
	opacity: 0.7;
	top: 0;
	left: 0;
}
.qrcode_text {
	height: 30px;
	margin-top: 10px;
}
.qrcode_text  p:hover {
	color: #bbb;
}
.qrcode_text p{
	color: #999;
	font-size: 14px;
	line-height: 1;
	margin: auto;
	height: 30px;
	font-family: 'Arial';
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
	text-align: center;
}